.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--button-background);
}

button {
  color: var(--button-font);
}

button[disabled] {
  background: rgba(255, 102, 0, 0.6);
}

.form-label-group {
  display: flex;
  flex-direction: column;
  background: var(--input-background);
}

.label {
  padding-top: 5px;
  padding-left: 10px;
  color: var(--input-label);
}

input {
  border: 0;
  border-bottom: 2px solid var(--input-underline);
  outline: none;
  padding: 4px 0 4px 10px;
  height: 28px;
  color: var(--main-font-color);
  background: transparent;
  &:hover,
  &:focus {
    border-color: var(--input-underline-hover);
  }
}

.router-link-active {
  color: var(--button-background);
}

.router-link-exact-active {
  color: var(--button-background);
}

.active {
  color: var(--button-background);
}
